<div class="panel panel-default">
  <div class="panel-heading text-center headerPanel"><h4>Pick Up My Waste</h4></div>
  </div>
</div>
<div class="login-page">
  <div class="form">
    <center><img class="img-responsive" alt="Localização" src="logo.jpeg"></center>
    <br><br><br>
    <form class="register-form">
      <input type="text" placeholder="name" />
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username" ng-model="name"/>
      <input type="password" placeholder="password"/>
      <button ng-click="link()">login</button>
      <p class="message">Not registered? <a href="#!/cadastrarEmpresa">Create an account</a></p>
    </form>
  </div>
</div>


<!-- 

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button ng-click="redirect('/homeMotorista')">login</button>
    </form>
  </div>
</div> -->