<div>
  <div class="panel panel-default">
      <div class="panel-heading text-center headerPanel"><h2>About Us<h2></div>
  </div>
  <div class="row">
          <div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2 middle" style="height: 100%">
          <br>
          <h4 class="text-justify middle">&nbsp;&nbsp;&nbsp;Having in mind the difficulties when discarding objects and/or materials that we don't need anymore, our app was made to solve this daily problem, bringing companies that are interested in your discards right up to your door!</h4>
          
          <br>
          <h4>Collect schedule:</h4>
          <h5 class="text-danger"><b>Monday to Friday - 8am to 6pm</b></h5>
          </div>
        </div>
</div>