<div>
  <div class="panel panel-default">
      <div class="panel-heading text-center headerPanel"><h4>Pick Up My Waste<h4></div>
    <div class="panel-body">
      <br><br>
        <div class="row">
          <div class="col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3">
            <button class="btn btn-block btn-danger" ng-click="redirect('/signupDiscard')">Discard</button>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3">
            <button class="btn btn-block btn-danger" ng-click="redirect('/viewDiscard')">What can I discard?</button>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3">
            <button class="btn btn-block btn-danger" ng-click="redirect('/codeValidator')">Code Validator</button>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3">
            <button class="btn btn-block btn-danger" ng-click="redirect('/partners')">Partners</button>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3">
            <button class="btn btn-block btn-danger" ng-click="redirect('/aboutUs')">About Us</button>
          </div>
        </div>
      </div>
  </div>
</div>
